In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Esperance,-33.8667,121.9000,55.72,60,2,10.85,AU,2022-06-15 15:48:26
1,1,Torquay,50.4638,-3.5143,74.75,61,48,6.55,GB,2022-06-15 15:48:26
2,2,Albany,42.6001,-73.9662,80.92,54,47,3.98,US,2022-06-15 15:45:42
3,3,Bedesa,8.9000,40.7833,71.60,41,55,5.64,ET,2022-06-15 15:48:26
4,4,Constitucion,-35.3333,-72.4167,56.10,74,3,4.21,CL,2022-06-15 15:48:19

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 60

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Esperance,-33.8667,121.9000,55.72,60,2,10.85,AU,2022-06-15 15:48:26
4,4,Constitucion,-35.3333,-72.4167,56.10,74,3,4.21,CL,2022-06-15 15:48:19
6,6,Codrington,-38.2667,141.9667,55.69,90,96,16.84,AU,2022-06-15 15:48:27
7,7,Flin Flon,54.7682,-101.8650,57.04,88,75,6.91,CA,2022-06-15 15:47:46
9,9,Ulladulla,-35.3500,150.4667,54.30,56,40,7.38,AU,2022-06-15 15:48:28
12,12,Hobart,-42.8794,147.3294,46.06,95,100,0.00,AU,2022-06-15 15:47:35
13,13,Leh,34.1667,77.5833,55.49,48,69,6.60,IN,2022-06-15 15:48:29
17,17,Port Alfred,-33.5906,26.8910,49.17,79,83,7.00,ZA,2022-06-15 15:48:30
18,18,Ushuaia,-54.8000,-68.3000,42.46,70,75,5.75,AR,2022-06-15 15:47:48
19,19,Kodiak,57.7900,-152.4072,51.31,87,100,5.75,US,2022-06-15 15:48:30

In [14]:
preferred_cities_df.count()

City_ID       143
City          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
Country       140
Date          143
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Esperance      AU     55.72 -33.8667  121.9000
4   Constitucion      CL     56.10 -35.3333  -72.4167
6     Codrington      AU     55.69 -38.2667  141.9667
7      Flin Flon      CA     57.04  54.7682 -101.8650
9      Ulladulla      AU     54.30 -35.3500  150.4667
12        Hobart      AU     46.06 -42.8794  147.3294
13           Leh      IN     55.49  34.1667   77.5833
17   Port Alfred      ZA     49.17 -33.5906   26.8910
18       Ushuaia      AR     42.46 -54.8000  -68.3000
19        Kodiak      US     51.31  57.7900 -152.4072

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Esperance,AU,55.72,-33.8667,121.9000,Hospitality Esperance
4,Constitucion,CL,56.10,-35.3333,-72.4167,Hotel Boutique Las Azucenas
6,Codrington,AU,55.69,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
7,Flin Flon,CA,57.04,54.7682,-101.8650,Victoria Inn Flin Flon
9,Ulladulla,AU,54.30,-35.3500,150.4667,Sandpiper Motel
12,Hobart,AU,46.06,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
13,Leh,IN,55.49,34.1667,77.5833,Hotel Ladakh Greens
17,Port Alfred,ZA,49.17,-33.5906,26.8910,The Halyards Hotel
18,Ushuaia,AR,42.46,-54.8000,-68.3000,Albatross Hotel
19,Kodiak,US,51.31,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))